<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.ClicksMapper">

	<insert id="insert">
		insert into clicks
		(user_id,song_id,click_date)
		values
		(#{userId},#{songId},#{clickDate});
	</insert>

	<select id="getSongId" resultType="song">
		select song_id from clicks group by song_id order by count(*) desc limit 10
	</select>
	
	<delete id="deleteById">
		delete from clicks where clickId = #{clickId}
	</delete>
</mapper>